name: Github Telemetry Scheduled Job

on: push

env:
  GH_PAT: ${{ secrets.GH_PAT }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  githubTelemetry:
    runs-on: ubuntu-latest
    outputs:
      changes_detected: ${{ steps.changes_diff.outputs.changes_detected }}
      date: ${{ steps.date.outputs.date }}
    steps:
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          repository: 'v-bpastiu/k8s-adoption-journey'
      
      - name: Setup python environment
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      
      - name: Install dependecies and run script
        run: |
          ( 
            cd github-telemetry
            pip install -r requirements.txt
            python3 github-telemetry.py
          )

      - name: Setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Check if there are uncommited changes
        run: |
          diffs=$(git diff github-telemetry)
          if [[ ! -z "${diffs}" ]]; then
            echo "changes_detected=true" >> $GITHUB_OUTPUT 
          fi
        id: changes_diff

      - name: Create new branch, commit, push and create PR if there are changes
        if: steps.changes_diff.outputs.changes_detected == 'true'
        run: |
          (
            git checkout -b weekly-telemetry-branch/${{ steps.date.outputs.date }}
            cd github-telemetry
            git add clones.csv views.csv plot-clones.png plot-views.png
            git commit -m "Adding weekly telemetry data."
            git push --set-upstream origin weekly-telemetry-branch/${{ steps.date.outputs.date }}
            gh pr create -B main -H weekly-telemetry-branch/${{ steps.date.outputs.date }} --title 'Weekly github telemetry data.' --body 'Created by Github actions.'
          )

  